<template>
  <div class="container clearfix">
    <modalContainer
      :action="actionModal"
      v-show="showModal"
      :adjustShowModal="handleshowModal"
    ></modalContainer>
    <!-- chat list -->
    <div class="people-list" id="people-list">
      <div class="search">
        <img class="logos" :src="logo_pijar" alt="" />
        <button @click="creategroupModal()" class="float-right">
          Create group
        </button>
      </div>
      <div class="roomlistContainer">
        <ul class="list">
          <li
            class="room-list"
            v-for="(list, idx) in getRoomList"
            :key="idx"
            @click="changeRoom(list)"
          >
            <div class="flex">
              <img
                style="object-fit: cover"
                width="64px"
                height="64px"
                :src="list.chat_avatar_url"
                alt="avatar"
              />
              <div class="about">
                <div class="name">
                  {{
                    list.chat_name ? list.chat_name : list.target.phone_number
                  }}
                </div>
                <div class="flexLastmessage">
                  <p class="message">
                    {{ list.isTyping ? "Typing" : list.last_message }}
                  </p>
                  <span
                    class="badgeCounter"
                    v-show="parseInt(list.unread_count) > 0"
                    >{{ parseInt(list.unread_count) }}</span
                  >
                </div>
              </div>
            </div>
          </li>
        </ul>
      </div>
      <div class="actions">
        <button @click="logout">Logout</button>
      </div>
    </div>
    <!-- end chat list -->

    <!-- chat room -->
    <div class="chat">
      <div v-if="openChat" class="chatContainer">
        <div class="chat-header clearfix">
          <div class="avatarContainer">
            <img
              :src="
                room.chat_avatar_url
                  ? room.chat_avatar_url
                  : room.users[1]
                  ? room.users[1].avatar_url
                  : null
              "
              alt="avatar"
            />
          </div>
          <div class="chat-about">
            <div class="chat-with">
              {{
                room !== null && room.chat_name !== ""
                  ? room.chat_name
                  : room.users[0].phone_number
              }}
            </div>
            <div class="status" :key="presenceStatus">{{ presenceStatus }}</div>
          </div>
          <div class="chatroomMenu">
            <div class="dropdown">
              <span><i class="fa fa-ellipsis-v"></i></span>
              <div class="dropdown-content">
                <p @click="toggleRoomInfo(true)">Room Info</p>
                <p @click="clearChatroom()">Clear Chatroom</p>
              </div>
            </div>
          </div>
        </div>

        <div class="chat-history" id="data-chat" @scroll="handleRoomScroll">
          <ul v-for="(messages, idx) in roomMessage" :key="idx">
            <li
              class="clearfix"
              v-if="
                messages.type !== 'system_event' &&
                getConfig.user.phoneNumber === messages.user.phone_number
              "
            >
              <div class="message-data align-right">
                <span class="message-data-time">{{
                  transformTimestamp(messages.timestamp)
                }}</span>
                &nbsp; &nbsp;
                <span class="message-data-name">{{
                  messages.user.fullname
                }}</span>
                <span class="greyColor" v-show="messages.status === 'sent'"
                  ><i class="fa fa-check"></i
                ></span>
                <span
                  class="greyColor"
                  v-show="messages.status === 'delivered'"
                >
                  <i class="fa fa-check"></i>
                  <i class="fa fa-check"></i>
                </span>
                <span class="me" v-show="messages.status === 'read'">
                  <i class="fa fa-check"></i>
                  <i class="fa fa-check"></i>
                </span>
              </div>
              <div class="message other-message float-right tooltip">
                <em v-show="messages.extras && messages.extras.is_forwarded"
                  >Forwarded</em
                >
                <div
                  class="message-replied indicator--red"
                  v-if="isReply(messages)"
                >
                  <span class="replied-sender">{{
                    messages.payload.replied_comment_sender_username
                  }}</span>
                  <span class="replied-message">
                    <span v-if="repliedCommentIsAttachment(messages)">
                      {{ messages.payload.replied_comment_payload.caption }}
                    </span>
                    <span v-else>{{
                      messages.payload.replied_comment_message
                    }}</span>
                  </span>
                </div>
                <div v-if="isGif(messages)">
                  <div class="message-gif-label">GIF</div>
                  <img
                    class="message-gif"
                    :src="messages.payload.content.url"
                  />
                </div>
                <img
                  class="message-file"
                  :src="messages.payload.url"
                  v-else-if="isImage(messages)"
                />
                <div class="message-file" v-else-if="isAudio(messages)">
                  <audio :src="messages.payload.url" controls></audio>
                </div>
                <div class="message-file" v-else-if="isVideo(messages)">
                  <video :src="messages.payload.url" controls></video>
                </div>
                <div class="doc" v-else-if="isAttachment(messages)">
                  <i class="doc__icon fa fa-file-o"></i>
                  <div class="doc__info">
                    <span class="doc__name">{{
                      messages.payload.file_name
                    }}</span>
                    <div class="doc__details">
                      <span>.{{ messages.extras.file_extension }} - </span>
                      <span>{{ messages.payload.size }}B</span>
                    </div>
                    <button
                      class="doc__download cursor--pointer"
                      @click="download(messages)"
                    >
                      <span>Download</span>
                    </button>
                  </div>
                </div>
                {{
                  isGif(messages)
                    ? null
                    : isAttachment(messages)
                    ? messages.payload.caption
                    : messages.message
                }}
                <span class="tooltiptext">
                  <div
                    class="tooltipMenu"
                    @click="forwardMessage(messages)"
                    v-if="!isSendAttachment"
                  >
                    Forward
                  </div>
                  <div
                    class="tooltipMenu"
                    @click="handleReply(messages)"
                    v-if="!isSendAttachment"
                  >
                    Reply
                  </div>
                  <div class="tooltipMenu" @click="handleDelete(messages)">
                    Delete
                  </div>
                </span>
              </div>
            </li>
            <li v-else-if="messages.type === 'system_event'">
              <div style="text-align: center" class="message-data">
                <span class="message-data-name">System</span>
                <span class="message-data-time">{{
                  transformTimestamp(messages.timestamp)
                }}</span>
              </div>
              <div class="message my-message system-message">
                {{ messages.message }}
              </div>
            </li>

            <li v-else>
              <div style="text-align: left" class="message-data">
                <span class="message-data-name">
                  {{ messages.username_as }}</span
                >
                <span class="message-data-time">{{
                  transformTimestamp(messages.timestamp)
                }}</span>
              </div>
              <div class="message my-message tooltip">
                <div
                  class="message-replied indicator--red"
                  v-if="isReply(messages)"
                >
                  <span class="replied-sender">{{
                    messages.payload.replied_comment_sender_username
                  }}</span>
                  <span class="replied-message">
                    <span
                      v-if="
                        messages.payload.replied_comment_type ===
                        'file_attachment'
                      "
                    >
                      {{ messages.payload.replied_comment_payload.caption }} -
                    </span>
                    {{ messages.payload.replied_comment_message }}</span
                  >
                </div>
                <p v-show="messages.extras && messages.extras.is_forwarded">
                  Forwarded
                </p>
                <div v-if="isGif(messages)">
                  <div class="message-gif-label">GIF</div>
                  <img
                    class="message-gif"
                    :src="messages.payload.content.url"
                  />
                </div>
                <img
                  class="message-file"
                  :src="messages.payload.url"
                  v-else-if="isImage(messages)"
                />
                <div class="message-file" v-else-if="isAudio(messages)">
                  <audio :src="messages.payload.url" controls></audio>
                </div>
                <div class="message-file" v-else-if="isVideo(messages)">
                  <video :src="messages.payload.url" controls></video>
                </div>
                <div class="doc" v-else-if="isAttachment(messages)">
                  <i class="doc__icon fa fa-file-o"></i>
                  <div class="doc__info">
                    <span class="doc__name">{{
                      messages.payload.file_name
                    }}</span>
                    <div class="doc__details">
                      <span>.{{ messages.extras.file_extension }} - </span>
                      <span>{{ messages.payload.size }}B</span>
                    </div>
                    <button
                      class="doc__download cursor--pointer"
                      @click="download(messages)"
                    >
                      <span>Download</span>
                    </button>
                  </div>
                </div>
                {{
                  isGif(messages)
                    ? null
                    : isAttachment(messages)
                    ? messages.payload.caption
                    : messages.message
                }}
                <span class="tooltiptext">
                  <div
                    class="tooltipMenu"
                    @click="forwardMessage(messages)"
                    v-if="!isSendAttachment"
                  >
                    Forward
                  </div>
                  <div
                    class="tooltipMenu"
                    @click="handleReply(messages)"
                    v-if="!isSendAttachment"
                  >
                    Reply
                  </div>
                </span>
              </div>
            </li>
          </ul>
        </div>

        <div class="chat-message clearfix">
          <div class="chat-reply indicator--red" v-if="isSendReply">
            <span class="reply-target-sender">
              {{ this.replyTarget.user.fullname }}
            </span>
            <span class="reply-target-message">
              {{ this.replyTarget.message }}
            </span>
            <div class="reply-target-clear cursor--pointer" @click="clearReply">
              Clear
            </div>
          </div>
          <div class="chat-attachment" v-if="isSendAttachment">
            <div class="chat-attachment-details">
              Attachment:
              <b>{{ file ? file.name : null }}</b>
              <span class="cursor--pointer" @click="clearAttachment"
                >Clear</span
              >
            </div>
          </div>
          <div class="gif-panel" v-if="isGifPanelOpen">
            <div class="gif-panel__header">
              <span><b>GIF</b></span>
              <span class="cursor--pointer" @click="toggleGifPanel(false)"
                >Close</span
              >
            </div>
            <div class="gif-panel__gifs">
              <div
                class="gif"
                title="Click to send GIF"
                v-for="(gif, i) in gifs"
                :key="`gif-${i}`"
                @click="sendGif(gif)"
              >
                <img :src="gif.url" :alt="`gif-${i}`" />
              </div>
            </div>
          </div>
          <textarea
            v-model="message"
            name="message-to-send"
            id="message-to-send"
            :placeholder="`Type your ${
              isSendAttachment ? 'caption' : isSendReply ? 'reply' : 'message'
            }`"
            rows="3"
            @keyup="typingHandler($event)"
            @keyup.enter="sendMessage()"
          ></textarea>
          <button @click="sendMessage()">Send</button>
          <button
            name="attachment"
            class="button__attachment"
            @click="openInputAttachment"
            v-if="!isSendReply"
          >
            <i class="fa fa-paperclip" aria-hidden="true">
              <input
                type="file"
                id="attachment"
                style="display: none"
                @change="handleAttachmentChange"
              />
            </i>
          </button>
          <button class="button__gif" @click="toggleGifPanel(!isGifPanelOpen)">
            GIF
          </button>
        </div>
      </div>
      <div class="pijar" v-else>
        <img width="30%" :src="logo_pijar" alt="" />
      </div>
    </div>
    <RoomInfo
      v-if="isRoomInfoOpen"
      :room="room"
      @closeRoomInfo="toggleRoomInfo(false)"
      @openModal="addparticipantModal"
      @updateLeftRoom="updateLeftRoom"
    ></RoomInfo>
    <!-- end room -->
  </div>
</template>

<script>
import logo from "@/assets/pijar.svg";
import ModalContainer from "../components/modal/ModalContainer";
import RoomInfo from "../components/RoomInfo.vue";
import { mapGetters } from "vuex";
export default {
  name: "Home",
  data() {
    return {
      logo_pijar: logo,
      room: null,
      message: "",
      target: null,
      file: null,
      isSendAttachment: false,
      openChat: false,
      isSendReply: false,
      replyTarget: {},
      extImage: ["jpg", "jpeg"],
      extVideo: ["mp4"],
      extAudio: ["mp3"],
      presenceStatus: null,
      actionModal: "",
      showModal: false,
      isRoomInfoOpen: false,
      isGifPanelOpen: false,
    };
  },
  beforeCreate() {
    const self = this;
    this.$chataja.init({
      env: window.localStorage.getItem("chataja-config").env,
      AppId: window.localStorage.getItem("chataja-config").appId,
      AppSecret: window.localStorage.getItem("chataja-config").appSecret,
      options: {
        loginSuccessCallback(data) {},
        loginErrorCallback(data) {},
        newMessagesCallback(data) {
          if (data[0].type === "system_event") {
            self.processRealtime(data[0]);
          } else {
            self.$store.commit("SET_NEW_MESSAGE", data[0]);
          }
        },
        typingCallback(data) {
          self.$store.commit("SET_TYPING_STATUS", data);
        },
        commentDeletedCallback: async function (data) {
          self.deleteLocalMessage(data);
          const response = await self.$chataja.loadMessages({
            uniqueRoomId: data.uniqueRoomId,
            limit: 1,
          });
          const lastMessage = response.data.payload.comment[0];
          self.$store.commit("UPDATE_LAST_MESSAGE", lastMessage);
        },
        commentDeliveredCallback: function (data) {
          self.$store.commit("SET_MESSAGE_DELIVERED", data.comment);
        },
        commentReadCallback: function (data) {
          self.$store.commit("SET_MESSAGE_READ", data.comment);
        },
        presenceCallback: function (data, phoneNumber) {
          self.updatePresenceStatus(data, phoneNumber);
        },
      },
    });
  },
  mounted() {
    this.$chataja.publishOnlinePresence(true);
    const self = this;
    setTimeout(() => {
      self.$chataja.auth.setIdentity(
        JSON.parse(window.localStorage.getItem("userData"))
      );
      self.fillRoomList();
    }, 500);
  },
  watch: {
    file(val) {
      if (!val) {
        this.isSendAttachment = false;
      }
    },
  },
  methods: {
    async sendMessage() {
      if (this.isSendReply) {
        this.sendReply();
        return;
      }
      if (this.isSendAttachment) {
        this.sendAttachment();
        return;
      }
      let payload = {
        uniqueRoomId: this.target.uniqueRoomId,
        comment: this.message,
        type: "text",
        payload: {},
        extras: null,
      };
      if (this.message !== "") {
        const sentMessage = {
          ...(await this.$chataja.sendMessage(payload)),
        };
        this.$store.commit("ADD_SENT_MESSAGE", sentMessage);
        this.message = "";
        this.$chataja.setTypingStatus(0);
      }
    },

    async changeRoom(val) {
      this.toggleRoomInfo(false);
      this.clearReply();
      this.presenceStatus = null;
      this.target = val;
      this.room = val;
      if (!val.is_group_chat) {
        const loggedUser = JSON.parse(window.localStorage.getItem("userData"))
          .user.email;
        const target_user = this.target.users.filter(
          (f) => f.qiscus_email !== loggedUser
        )[0].qiscus_email;
        const createRoom = {
          ...(await this.$chataja.getOrCreateRoom(
            "+" + target_user.split("_")[2].split("@")[0]
          )),
        }.data.payload;
        const getPersonalMsg = [
          ...(await this.$chataja.getPersonalRoomMessages({
            target_user_email: target_user,
          })),
        ];
        this.$store.commit("SET_ROOM_MESSAGE", {
          room_id: val.uniqueRoomId,
          messages: getPersonalMsg,
        });
        this.room.unread_count = 0;
        this.openChat = true;
        this.room = createRoom;
      } else {
        const getGroupMsg = [
          ...(await this.$chataja.getGroupRoomMessages({
            room_id: val.uniqueRoomId,
          })),
        ];
        this.$store.commit("SET_ROOM_MESSAGE", {
          room_id: val.uniqueRoomId,
          messages: getGroupMsg,
        });
        this.room.unread_count = 0;
        this.openChat = true;
      }
      window.setTimeout(function () {
        var elem = document.getElementById("data-chat");
        elem.scrollTop = elem.scrollHeight;
      }, 1000);
      setTimeout(() => {
        if (!this.presenceStatus) {
          this.userStatusOfflineHandler();
        }
      }, 5000);
    },
    async fillRoomList() {
      const rooms = {
        ...(await this.$chataja.loadRoomList({
          page: 1,
          limit: 100,
        })),
      }.data.payload.data;
      if (rooms.length > 0) {
        this.$store.commit("SET_ROOM_LIST", rooms);
      }
    },
    logout() {
      this.$chataja.publishOnlinePresence(false);
      this.$chataja.auth.logout();
      window.localStorage.removeItem("token");
      window.localStorage.removeItem("userData");
      window.location.href = "/";
    },
    async typingHandler(event) {
      if (this.message.length > 0) {
        this.$chataja.setTypingStatus(1);
      } else {
        this.$chataja.setTypingStatus(0);
      }
    },
    openInputAttachment() {
      if (this.isGifPanelOpen) {
        this.toggleGifPanel(false);
      }
      document.querySelector("#attachment").click();
    },
    handleAttachmentChange(e) {
      this.isSendAttachment = true;
      this.file = e.target.files[0];
    },
    clearAttachment() {
      this.file = null;
      document.querySelector("#attachment").value = "";
    },
    isAttachment(message) {
      return message.type === "file_attachment";
    },
    isDocument(message) {
      return (
        message.type === "file_attachment" && message.extras.file_type === "doc"
      );
    },
    isAudio(message) {
      return (
        message.type === "file_attachment" &&
        this.extAudio.includes(message.extras.file_extension)
      );
    },
    isVideo(message) {
      return (
        message.type === "file_attachment" &&
        this.extVideo.includes(message.extras.file_extension)
      );
    },
    isImage(message) {
      return (
        message.type === "file_attachment" &&
        this.extImage.includes(message.extras.file_extension)
      );
    },
    async sendAttachment() {
      if (this.message !== "") {
        let mediaType = "doc";
        if (
          this.file.type.includes("image") ||
          this.file.type.includes("video") ||
          this.file.type.includes("audio")
        ) {
          mediaType = "media";
        }
        let payload = {
          uniqueRoomId: this.target.uniqueRoomId,
          phoneTarget: this.target.target.phone_number,
          media: this.file,
          mediaType,
          originalFileName: this.file.name,
          caption: this.message,
        };
        this.clearAttachment();
        this.$chataja.setTypingStatus(0);
        this.message = "";
        try {
          const response = await this.$chataja.sendAttachment(payload);
          this.$store.commit("ADD_SENT_MESSAGE", response);
          return response;
        } catch (err) {
          throw err;
        }
      }
    },
    download(message) {
      fetch(message.payload.url)
        .then((resp) => resp.blob())
        .then((blob) => {
          const url = window.URL.createObjectURL(blob);
          const a = document.createElement("a");
          a.style.display = "none";
          a.href = url;
          a.download = message.payload.file_name;
          document.body.appendChild(a);
          a.click();
          window.URL.revokeObjectURL(url);
        })
        .catch((err) => {
          throw err;
        });
    },
    async clearChatroom() {
      const clearing = {
        ...(await this.$chataja.clearChatroom({
          phone_number: this.getConfig.user.phoneNumber,
          uniqueId: [this.room.uniqueId],
        })),
      }.data.success;
      if (clearing === true) {
        this.$store.commit("CLEAR_ALL_MESSAGE", this.room.uniqueRoomId);
      }
    },
    async loadMoreMessage() {
      const params = {
        uniqueRoomId: this.room.uniqueRoomId,
        limit: 20,
        lastMessageId: this.roomMessage[0].id,
      }

      const response = await this.$chataja.loadMessages(params);
      const newMessages = response.data.payload.comment;
      const messages = [...newMessages, ...this.roomMessage];

      this.$store.commit("SET_ROOM_MESSAGE", {
        room_id: this.room.uniqueRoomId,
        messages: messages,
      });
      return newMessages;
    },

    async handleRoomScroll(e) {
      if (e.target.scrollTop === 0 && this.roomMessage.length > 0) {
        const beforeLoadScrollHeight = e.target.scrollHeight;
        const newMessages = await this.loadMoreMessage();
        if (newMessages.length > 0) {
          e.target.scrollTop = e.target.scrollHeight - beforeLoadScrollHeight;
        }
      }
    },
    transformTimestamp(timestamp) {
      return new Date(timestamp).toLocaleString("id-ID", {
        year: "numeric",
        month: "2-digit",
        day: "2-digit",
        hour12: false,
        hour: "2-digit",
        minute: "2-digit",
      });
    },
    handleReply(message) {
      this.isSendReply = true;
      this.replyTarget = message;
      if (this.isGifPanelOpen) {
        this.toggleGifPanel(false);
      }
    },
    async sendReply() {
      if (this.message.length > 0) {
        const params = {
          uniqueRoomId: this.room.uniqueRoomId,
          comment: this.message,
          type: "reply",
          payload: {
            text: this.message,
            replied_comment_id: this.replyTarget.id,
            replied_comment_message: this.replyTarget.message,
          },
        };
        this.$chataja.setTypingStatus(0);
        this.clearReply();
        this.message = "";
        const comment = await this.$chataja.sendMessage(params);
        // const comment = response.data.payload.comment;
        this.$store.commit("ADD_SENT_MESSAGE", comment);
      }
    },
    isReply(message) {
      return message.type === "reply";
    },
    clearReply() {
      this.isSendReply = false;
      this.replyTarget = null;
    },
    repliedCommentIsAttachment(message) {
      return message.payload.replied_comment_type === "file_attachment";
    },
    userStatusOfflineHandler() {
      if (this.target.lastOnlineTimestamp) {
        this.presenceStatus = null;
        setTimeout(() => {
          const lastSeen = this.transformTimestamp(
            this.target.lastOnlineTimestamp
          );
          this.presenceStatus = "Last seen " + lastSeen;
          return this.presenceStatus;
        }, 5000);
      } else {
        this.presenceStatus = "Offline";
        return this.presenceStatus;
      }
    },
    userStatusOnlineHandler(timestamp) {
      this.target.lastOnlineTimestamp = Number(timestamp);
      this.presenceStatus = "Online";
    },
    updatePresenceStatus(data, phoneNumber) {
      const [status, timestamp] = data.split(":");
      if (this.target) {
        const target = this.target.users.find((u) => {
          if (u.phone_number === phoneNumber) {
            return u;
          }
        });
        if (target) {
          if (target.phone_number === phoneNumber) {
            if (status === "1") {
              this.userStatusOnlineHandler(timestamp);
            } else {
              this.userStatusOfflineHandler();
            }
          } else {
            this.presenceStatus = null;
          }
        }
      }
    },
    forwardMessage(params) {
      this.actionModal = "forward";
      this.showModal = true;
      this.$store.state.forwardMessage = params;
    },
    creategroupModal() {
      this.actionModal = "create_group";
      this.showModal = true;
    },
    addparticipantModal() {
      this.actionModal = "add_participant";
      this.showModal = true;
    },
    handleshowModal(value) {
      this.showModal = value;
    },
    async handleDelete(message) {
      try {
        await this.$chataja.deleteMessage(message);
      } catch (err) {}
    },
    deleteLocalMessage(data) {
      // this is function is used for commentDeletedCallback
      if (data.uniqueRoomId + "" === this.target.uniqueRoomId + "") {
        const newComments = this.target.comments.filter((c) => {
          if (!data.messageUniqueIds.includes(c.messageUniqueId)) {
            return c;
          }
        });

        this.$store.commit("SET_ROOM_MESSAGE", {
          room_id: this.target.uniqueRoomId,
          messages: newComments,
        });
      }
    },
    toggleRoomInfo(value) {
      this.isRoomInfoOpen = value;
    },
    updateRoomName(message) {
      const room = this.getRoomList.find(
        (r) => r.uniqueRoomId === message.room_id
      );
      if (room) {
        room.chat_name = message.payload.room_name;
      }
    },
    async updateRoomDescription(message) {
      const room = this.getRoomList.find(
        (r) => r.uniqueRoomId === message.room_id
      );
      if (room) {
        try {
          const response = await this.$chataja.getRoomDataById(message.room_id);
          room.chat_description = response.data.payload.chat_description;
        } catch (err) {
          console.error(err);
        }
      }
    },
    async updateRoomAvatar(message) {
      const room = this.getRoomList.find(
        (r) => r.uniqueRoomId === message.room_id
      );
      if (room) {
        try {
          const response = await this.$chataja.getRoomDataById(message.room_id);
          room.chat_avatar_url = response.data.payload.chat_avatar_url;
        } catch (err) {
          console.error(err);
        }
      }
    },
    updateRoomMember(message) {
      if (message.payload.object_email === this.getAuthor.user.email) {
        const newRoomList = this.getRoomList.filter(
          (room) => room.uniqueRoomId !== message.room_id
        );
        if (this.openChat && this.room.uniqueRoomId === message.room_id) {
          this.openChat = false;
          this.room = null;
          this.toggleRoomInfo(false);
        }
        this.$store.commit("SET_ROOM_LIST", newRoomList);
        return;
      }
      const room = this.getRoomList.find(
        (r) => r.uniqueRoomId === message.room_id
      );
      if (room) {
        room.users = room.users.filter(
          (a) => a.qiscus_email !== message.payload.object_email
        );
        room.admins = room.admins.filter(
          (a) => a.qiscus_email !== message.payload.object_email
        );
      }
    },
    updateGroupAdmin(type, message) {
      const room = this.getRoomList.find(
        (r) => r.uniqueRoomId === message.room_id
      );
      if (room) {
        switch (type) {
          case "add":
            const newAdmin = room.users.find(
              (u) =>
                u.phone_number === message.payload.payload.object.phone_number
            );
            if (newAdmin) {
              room.admins.push(newAdmin);
            }
            break;
          case "remove":
            room.admins = room.admins.filter(
              (a) =>
                a.phone_number !== message.payload.payload.object.phone_number
            );
            break;
        }
      }
    },
    async updateRoomUsers(message) {
      const room = this.getRoomList.find(
        (r) => r.uniqueRoomId === message.room_id
      );
      const response = await this.$chataja.getRoomDataById(message.room_id);
      if (room) {
        room.users = response.data.payload.users;
      } else if (response) {
        this.$store.commit('ADD_GROUP_ROOM', response.data.payload)
      }
    },
    updateLeftRoom(message) {
      if (message.payload.object_email === this.getAuthor.user.email) {
        const newRoomList = this.getRoomList.filter(
          (room) => room.uniqueRoomId !== message.room_id
        );
        if (newRoomList) {
          if (this.openChat && this.room.uniqueRoomId === message.room_id) {
            this.toggleRoomInfo(false);
            this.openChat = false;
            this.room = null;
          }
          this.$store.commit("SET_ROOM_LIST", newRoomList);
        }
        return;
      }
      const room = this.getRoomList.find(
        (r) => r.uniqueRoomId === message.room_id
      );
      if (room) {
        room.users = room.users.filter(
          (u) => u.qiscus_email !== message.payload.object_email
        );
        room.admins = room.admins.filter(
          (u) => u.qiscus_email !== message.payload.object_email
        );
      }
    },
    async processRealtime(data) {
      const self = this;
      const room = this.getRoomList.filter(
        (f) => f.uniqueRoomId === parseInt(data.room_id)
      )[0];
      switch (data.payload.type) {
        case "create_room":
          if (room) {
            this.$store.commit("UPDATE_LAST_MESSAGE", data);
          } else {
            setTimeout(async() => {
              const room = {
                ...(await this.$chataja.getRoomDataById(data.room_id)),
              }.data.payload;
              this.$store.commit("ADD_GROUP_ROOM", room);
              setTimeout(() => {
                self.$store.commit("UPDATE_LAST_MESSAGE", data);
              }, 200);
            }, 1000)
          }
          break;
        case "change_room_name":
          this.updateRoomName(data);
          break;
        case "remove_member":
          this.updateRoomMember(data);
          break;
        case "change_room_avatar":
          this.updateRoomAvatar(data);
          break;
        case "add_member":
          this.updateRoomUsers(data);
          break;
        case "left_room":
          this.updateLeftRoom(data);
          break;
        case "custom":
          switch (data.payload.payload.system_event_type) {
            case "change_group_description":
              this.updateRoomDescription(data);
              break;
            case "add_group_admin":
              this.updateGroupAdmin("add", data);
              break;
            case "remove_group_admin":
              this.updateGroupAdmin("remove", data);
              break;
          }
      }
      setTimeout(() => {
        self.$store.commit("SET_NEW_MESSAGE", data);
      }, 200);
    },
    toggleGifPanel(value) {
      this.isGifPanelOpen = value;
      if (this.isSendReply) {
        this.clearReply();
      }
      if (this.isSendAttachment) {
        this.clearAttachment();
      }
    },
    async sendGif(gif) {
      const payload = {
        uniqueRoomId: this.room.uniqueRoomId,
        comment: "gif",
        type: "custom",
        payload: {
          type: "gif",
          content: {
            url: gif.url,
          },
        },
      };
      try {
        const response = await this.$chataja.sendMessage(payload);
        this.$store.commit("ADD_SENT_MESSAGE", response);
        this.toggleGifPanel(false);
      } catch (err) {
        console.error(err);
      }
    },
    isGif(message) {
      return message.type === "custom" && message.payload.type === "gif";
    },
  },
  computed: {
    getAuthor() {
      return JSON.parse(window.localStorage.getItem("userData"));
    },
    getConfig() {
      return JSON.parse(window.localStorage.getItem("chataja-config"));
    },
    ...mapGetters({
      getRoomList: "getRoomList",
      roomMessage: "getRoomMessages",
    }),
    gifs() {
      return [
        {
          url: "https://media.giphy.com/media/lgcUUCXgC8mEo/giphy.gif",
        },
        {
          url: "https://media.giphy.com/media/cF7QqO5DYdft6/giphy.gif",
        },
        {
          url: "https://media.giphy.com/media/l3q2K5jinAlChoCLS/giphy.gif",
        },
      ];
    },
  },
  beforeRouteEnter(to, from, next) {
    if (window.localStorage.getItem("token") !== undefined) {
      next(true);
    } else {
      next("/");
    }
  },
  components: {
    ModalContainer,
    RoomInfo,
  },
};
</script>

<style>
@import url(https://fonts.googleapis.com/css?family=Lato:400,700);

*,
*:before,
*:after {
  box-sizing: border-box;
}
.people-list ul::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #f5f5f5;
}

.people-list ul::-webkit-scrollbar {
  width: 10px;
  background-color: #f5f5f5;
}

.people-list ul::-webkit-scrollbar-thumb {
  background-color: #0ae;
  background-image: -webkit-gradient(
    linear,
    0 0,
    0 100%,
    color-stop(0.5, rgba(255, 255, 255, 0.2)),
    color-stop(0.5, transparent),
    to(transparent)
  );
}

.chat-history::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #f5f5f5;
}

.chat-history::-webkit-scrollbar {
  width: 10px;
  background-color: #f5f5f5;
}

.chat-history::-webkit-scrollbar-thumb {
  background-color: #0ae;
  background-image: -webkit-gradient(
    linear,
    0 0,
    0 100%,
    color-stop(0.5, rgba(255, 255, 255, 0.2)),
    color-stop(0.5, transparent),
    to(transparent)
  );
}

body {
  background: #c5ddeb;
  font: 14px/20px "Lato", Arial, sans-serif;
  color: white;
  overflow: hidden;
}

.container {
  /* margin: 0 auto; */
  width: 100%;
  height: 100vh;
  background: #3088c8;
  border-radius: 5px;
  display: flex;
}

.message-data-name {
  padding-right: 10px;
}
.people-list {
  width: 30%;
  float: left;
  display: flex;
  flex-direction: column;
}
.room-list {
  cursor: pointer;
  margin-bottom: 10px;
}
.room-list:hover {
  background-color: #808080;
  color: white;
}
ul {
  list-style-type: none;
  margin: unset;
}

.people-list .search {
  padding: 20px;
  background-color: white;
  display: flex;
  align-items: center;
  height: 100px;
}
.people-list .search .logos {
  width: auto;
}

.people-list input {
  border-radius: 3px;
  border: 1px solid #3088c8;
  padding: 14px;
  color: black;
  background: white;
  width: 90%;
  font-size: 14px;
  margin-left: 10px;
}

.people-list .fa-search {
  position: relative;
  left: -25px;
}
.roomlistContainer {
  overflow-y: scroll;
  height: 100%;
}
.people-list ul {
  padding: 20px;
  height: 100%;
}
.people-list ul:hover {
  overflow: auto;
}

.people-list .flex {
  display: flex;
  flex-direction: row;
}

.people-list .about {
  padding-left: 20px;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  display: flex;
  min-width: 0;
}
.people-list .about .name {
  font-size: 16px;
  text-transform: capitalize;
  font-weight: 600;
}
.flexLastmessage {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: space-between;
}
.people-list .about .flexLastmessage p {
  margin: 0 10px 0 0;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  flex: 1;
  min-width: 0;
}

.people-list .status {
  color: antiquewhite;
}
.people-list .badgeCounter {
  width: 20px;
  height: 20px;
  text-align: center;
  background: #85bc72;
  display: block;
  float: right;
  border-radius: 50%;
}

.chat {
  background: #f2f5f8;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  color: #434651;
  flex: 1;
}

.chatContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1;
  height: 100vh;
}

.chat .chat-header {
  padding: 20px;
  border-bottom: 2px solid white;
  height: 100px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.chat .chat-header .avatarContainer {
  align-self: flex-start;
  width: 60px;
  height: 60px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.chat .chat-header .avatarContainer img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.chat .chat-header .chat-about {
  padding-left: 10px;
  margin-top: 6px;
  flex: 1;
  align-self: center;
}

.chat .chat-header .chat-with {
  font-weight: bold;
  font-size: 16px;
}

.chat .chat-header .chat-num-messages {
  color: #92959e;
}

.chat .chat-header .fa-star {
  float: right;
  color: #d8dadf;
  font-size: 20px;
  margin-top: 12px;
}

.chat .chat-header .chatroomMenu {
  align-self: center;
  padding: 0px 10px;
}

.chat .chat-history {
  padding: 20px;
  border-bottom: 2px solid white;
  overflow-y: scroll;
  flex: 1;
}

.chat .chat-history .message-data {
  margin-bottom: 15px;
}

.chat .chat-history .message-data-time {
  color: #a8aab1;
  padding-left: 6px;
}

.chat .chat-history .message {
  color: white;
  padding: 18px 20px;
  line-height: 26px;
  font-size: 16px;
  border-radius: 7px;
  margin-bottom: 30px;
  position: relative;
  display: flex;
  flex-direction: column;
}

.chat .chat-history .message:after {
  bottom: 100%;
  left: 20px;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-bottom-color: #86bb71;
  border-width: 10px;
  margin-left: -10px;
}

.chat .chat-history .my-message {
  background: #86bb71;
  /* max-width: 40%; */
  width: fit-content;
  word-break: break-all;
}

.chat .chat-history .my-message.system-message {
  margin: 0 auto;
  background: #a8aab1;
}

.chat .chat-history .my-message.system-message:after {
  left: 50%;
  border-bottom-color: #a8aab1;
}

.chat .chat-history .other-message {
  background: #94c2ed;
  word-break: break-all;
  text-align: left;
}

.chat .chat-history .other-message:after {
  border-bottom-color: #94c2ed;
  left: auto;
  right: 20px;
}

.chat .chat-message {
  padding: 20px;
  /*  position: sticky;
  bottom: 0;*/
  background: #f5f5f5;
}

.chat .chat-message textarea {
  width: 100%;
  border: none;
  padding: 20px;
  font: 14px/22px "Lato", Arial, sans-serif;
  margin-bottom: 10px;
  border-radius: 5px;
  resize: none;
}

.chat .chat-message .fa-file-o,
.chat .chat-message .fa-file-image-o {
  font-size: 16px;
  color: gray;
  cursor: pointer;
}

.chat .chat-message button {
  float: right;
  color: #94c2ed;
  font-size: 16px;
  text-transform: uppercase;
  border: none;
  cursor: pointer;
  font-weight: bold;
  background: #f2f5f8;
}

.chat .chat-message button:hover {
  color: #75b1e8;
}

.online,
.offline,
.me {
  margin-right: 3px;
  font-size: 10px;
}

.online {
  color: #86bb71;
}

.offline {
  color: #e38968;
}

.me {
  color: #94c2ed;
}

.align-left {
  text-align: left;
}

.align-right {
  text-align: right;
}

.float-right {
  float: right;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

.actions {
  text-align: center;
  position: sticky;
  bottom: 0;
}

.actions button {
  margin: auto;
  font-size: 24px;
  width: 100%;
  padding: 1rem;
  text-align: center;
  background-color: transparent;
  border: none;
}

.actions button:hover {
  background-color: #434651;
  color: white;
  cursor: pointer;
}

.chat-attachment {
  height: 1rem;
  padding: 0 1.25rem;
  text-align: left;
  margin-bottom: 1.5rem;
}

.chat-attachment-details {
  display: flex;
  flex: 1;
  justify-content: space-between;
}

.cursor--pointer {
  cursor: pointer;
}

.message-file {
  max-width: 300px;
}

img.message-file {
  margin-bottom: 0.5rem;
}

.message-file * {
  max-width: 300px;
}

.pijar {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}
.status {
  font-weight: 400;
  font-style: italic;
  color: grey;
}

.doc {
  display: flex;
  flex: 1;
  background-color: #ffffff;
  border-radius: 0.5rem;
  overflow: hidden;
  margin: 0 0 0.5rem 0;
  /* width: 300px; */
}

.doc__icon {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
  width: 80px;
  background-color: #fafafa;
  color: black;
}

.doc__info {
  width: 240px;
  display: flex;
  flex-direction: column;
  font-size: 0.8rem;
  justify-content: center;
  padding: 0 0.5rem;
  line-height: 1.5rem;
  overflow: hidden;
  color: #000000;
}

.doc__name,
.doc__details {
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.doc__name {
  font-weight: 500;
}
.doc__download {
  font-family: inherit;
  overflow: visible;
  width: auto;
  text-align: left;
  font-size: 0.8rem;
  color: blue;
  background: none;
  margin: 0;
  padding: 0;
  border: none;
  cursor: pointer;
  height: 1.5rem;
}
.doc__download span {
  text-decoration: underline;
}
.doc__download:hover span,
.doc__download:focus span {
  color: black;
}
.greyColor {
  color: grey;
}

.chat .chat-message button.button__attachment {
  margin-right: 1rem;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown > span {
  font-size: 24px;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  padding: 12px 16px;
  z-index: 1;
}

.dropdown:hover .dropdown-content {
  display: block;
  right: 0px;
  top: 20px;
  cursor: pointer;
}

.fa.fa-check {
  font-size: 10px;
}

.message-replied {
  width: 300px;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
  background-color: #00000020;
  display: flex;
  flex-direction: column;
  border-radius: 0.25rem;
}

.replied-sender {
  font-weight: 600;
  max-width: 90%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 1.25rem;
  height: 1.25rem;
}

.replied-message {
  max-width: 90%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.indicator--red {
  border-left: 0.25rem solid red;
}

.chat-reply {
  background-color: #00000010;
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
  flex: 1;
  width: 100%;
  margin: 0 0 1rem 0;
  border-radius: 0.25rem;
  position: relative;
  height: 56px;
}

.reply-target-sender {
  line-height: 1.25rem;
  height: 1.25rem;
  font-weight: 600;
  max-width: 20rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.reply-target-message {
  max-width: 30rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.reply-target-clear {
  position: absolute;
  right: 0.5rem;
  padding: 0.25rem;
  border-radius: 0.25rem;
}

.reply-target-clear:hover {
  background-color: #00000011;
}

.message-action {
  padding: 0.25rem;
  margin: 0.25rem;
  border-radius: 0.25rem;
}

.message-action:hover {
  background-color: #00000011;
}
/* Tooltip container */
.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
}

/* Tooltip text */
.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: #3088c8;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;

  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 1;
  left: -100px;
  top: 5px;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
  cursor: pointer;
}

.tooltip:hover .tooltiptext .tooltipMenu:hover {
  background: #808080;
}
.message.my-message.tooltip .tooltiptext {
  right: -100px;
  left: auto;
}

.button__gif {
  margin-right: 16px;
}

.gif-panel {
  height: 100px;
  margin-bottom: 1.5rem;
}

.gif-panel__header {
  height: 20%;
  display: flex;
  justify-content: space-between;
}

.gif-panel__gifs {
  display: flex;
  gap: 1rem;
  height: 80%;
}

.gif {
  height: 100%;
  aspect-ratio: 1;
  overflow: hidden;
  display: flex;
  align-items: center;
}

.gif img {
  height: auto;
  width: auto;
  max-width: 100%;
  max-height: 100%;
  cursor: pointer;
}

.message-gif {
  height: 100%;
  width: 100%;
}

.message-gif-label {
  font-size: 0.75rem;
  padding: 0 0.5rem;
  background-color: rgba(0, 0, 0, 0.3);
  position: absolute;
}
</style>