<template>
  <div class="container-login">
    <input
      type="text"
      v-model="appId"
      name="appId"
      placeholder="App ID"
      required
    />
    <input
      type="text"
      v-model="appSecret"
      name="appSecret"
      placeholder="App Secret"
      required
    />
    <input
      type="text"
      v-model="phone"
      name="psw"
      placeholder="Phone number. Ex. +62..."
      required
    />
    <!-- <input
      type="text"
      v-model="fullName"
      name="fullName"
      placeholder="Your name..."
      required
    /> -->
    <button @click="login()" type="submit">Login</button>
  </div>
</template>

<script>
export default {
  data() {
    return {
      // fullName: "",
      phone: "+628681141",
      appId: "",
      appSecret: "",
    };
  },
  methods: {
    async login() {
      const self = this;
      try {
        this.$chataja.init({
          env: "development",
          AppId: this.appId,
          AppSecret: this.appSecret,
        });
        const { authData, userData } = await this.$chataja.auth.login(
          this.phone,
          this.fullName,
          this.email,
          false
        );
        // console.log("verifying OTP...");
        // const { authData, userData } = await this.$chataja.auth.verifyOTP(
        //   "000000"
        // );
        const parsed = JSON.stringify(authData.identity_token);
        localStorage.setItem("token", parsed);
        localStorage.setItem("userData", JSON.stringify(userData));
        setTimeout(() => {
          self.$router.push({
            path: "/Home",
          });
        }, 500);
      } catch (err) {
        return err;
      }
    },
  },
};
</script>

<style scoped>
.container-login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}
span.psw {
  float: right;
  padding-top: 16px;
}

input[type="text"],
input[type="number"] {
  width: 20%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

/* Set a style for all buttons */
button {
  background-color: #04aa6d;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 20%;
}
</style>