<template>
  <div class="modal">
    <div class="modal-header">
      <h3>Add Participant</h3>
    </div>
    <div class="modal-content">

      <div class="roomSelection">
        <ul class="list">
          <li class="room-list" v-for="(list, idx) in getUserList" :key="idx">
            <div class="flex">
              <img
                style="object-fit: cover"
                width="64px"
                height="64px"
                :src="list.avatar_url"
                alt="avatar"
              />
              <div class="about">
                <div class="name">
                  {{
                    list.fullname ? list.fullname : list.phone_number
                  }}
                </div>
              </div>
              <div class="selectedUser">
                <input
                  type="checkbox"
                  @checked="this.selectedUser.indexOf(list.phone_number)"
                  @click="fillSelected(list.phone_number)"
                />
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
    <div class="modal-footer">
      <button
        class="cancelBtn"
        @click="
          adjustShowModal(false);
          resetData();
        "
      >
        Cancel
      </button>
      <button
        class="proceedBtn"
        :disabled="selectedUser.length === 0"
        @click="addParticipant"
      >
        Proceed
      </button>
    </div>
  </div>
</template>
<script>
export default {
  name: "AddParticipantContent",
  data() {
    return {
      selectedUser: []
    };
  },
  props: ["adjustShowModal"],
  computed: {
    getUserList() {
      const otherUser = this.$store.getters["getUserList"].filter((item) =>
          !this.$parent.$parent.room.users.some(
            (itemFilter) => item.qiscus_email === itemFilter.qiscus_email
          )
        )
      return otherUser
    }
	},
	watch: {
		selectedUser (value) {
			this.selectedUser = value
		}
	},
	methods: {
    fillSelected (value) {
      if (this.selectedUser.includes(value)) {
        this.selectedUser.splice(this.selectedUser.indexOf(value),1)
      } else {
        this.selectedUser.push(value)
      }
    },
    resetData () {
      this.selectedUser = []
      document.querySelectorAll('.roomSelection .room-list .selectedUser input').forEach((item) => {
        item.checked = false
      })
    },
    async addParticipant () {
      const addedParticipant = {
        ...(await this.$chataja.addParticipant({
          phoneTarget: this.selectedUser,
          uniqueRoomId: this.$parent.$parent.room.uniqueRoomId.toString()
        }))
      }.data.payload;
      this.$store.commit('ADD_GROUP_PARTICIPANT', addedParticipant)
      this.resetData()
      this.adjustShowModal(false);
    }
  },
};
</script>
<style>
.modal {
  flex: 0;
  display: flex;
  flex-direction: column;
  width: 600px;
  align-self: center;
}
.modal-header {
  border-radius: 8px 8px 0px 0px;
  background: #3088c8;
  padding: 5px 20px;
}
.modal-header h3 {
  font-size: 20px;
  font-weight: 600;
  color: #fff;
  text-transform: capitalize;
  margin: 8px 0px;
}
.modal-content {
  padding: 20px;
  background: #fff;
  display: flex;
  flex-direction: row;
}
.roomSelection {
  width: 100%;
}
.modal-footer {
  border-radius: 0px 0px 8px 8px;
  background: #fff;
  padding: 8px 20px;
  text-align: right;
  border-top: 1px solid #3088c8;
}
.modal-footer button {
  border-radius: 5px;
  padding: 10px;
  font-size: 16px;
  color: #fff;
  background: #3088c8;
  border: 0px;
  padding: 8px;
  margin-left: 16px;
  cursor: pointer;
}
.modal-footer button:disabled {
  background: grey;
  cursor: not-allowed;
}
.room-list ul::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #f5f5f5;
}

.room-list ul::-webkit-scrollbar {
  width: 10px;
  background-color: #f5f5f5;
}

.room-list ul::-webkit-scrollbar-thumb {
  background-color: #0ae;
  background-image: -webkit-gradient(
    linear,
    0 0,
    0 100%,
    color-stop(0.5, rgba(255, 255, 255, 0.2)),
    color-stop(0.5, transparent),
    to(transparent)
  );
}
.room-list {
  cursor: pointer;
  margin-bottom: 10px;
}
.room-list:hover {
  background-color: #808080;
  color: white;
}
ul {
  list-style-type: none;
  margin: unset;
  padding-left: 0;
}

.room-list ul {
  padding: 20px;
  height: 100%;
}
.room-list ul:hover {
  overflow: auto;
}

.room-list .flex {
  display: flex;
  flex-direction: row;
}

.room-list .about {
  padding-left: 20px;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  display: flex;
  min-width: 0;
}
.room-list .about .name {
  font-size: 16px;
  text-transform: capitalize;
  font-weight: 600;
}

.room-list .status {
  color: antiquewhite;
}
.selectedUser {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.avatar_img {
  width: 64px;
  height: 64px;
  object-fit: cover;
}
</style>