<template>
  <div class="modal">
    <div class="modal-header">
      <h3>test</h3>
    </div>
    <div class="modal-content">
      <div class="roomSelection">
        <ul class="list">
          <li class="room-list" v-for="(list, idx) in getRoomList" :key="idx">
            <div class="flex">
              <img
                style="object-fit: cover"
                width="64px"
                height="64px"
                :src="list.chat_avatar_url"
                alt="avatar"
              />
              <div class="about">
                <div class="name">
                  {{
                    list.chat_name ? list.chat_name : list.target.phone_number
                  }}
                </div>
                <div class="flexLastmessage">
                  <p class="message">
                    {{ list.last_message }}
                  </p>
                </div>
              </div>
              <div class="selectedRoom">
                <input
                  type="checkbox"
                  @checked="this.selectedRoom.indexOf(list.uniqueRoomId)"
                  @click="fillSelected(list.uniqueRoomId)"
                />
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
    <div class="modal-footer">
      <button
        class="cancelBtn"
        @click="
          adjustShowModal(false);
          resetData();
        "
      >
        Cancel
      </button>
      <button
        class="proceedBtn"
        :disabled="selectedRoom.length === 0"
        @click="forwardMessage()"
      >
        Proceed
      </button>
    </div>
  </div>
</template>
<script>
export default {
  name: "ForwardContent",
  data() {
    return {
      selectedRoom: [],
    };
  },
  props: ["adjustShowModal"],
  computed: {
    getRoomList() {
      return this.$store.getters["getRoomList"];
    },
  },
  watch: {
    selectedRoom(value) {
      this.selectedRoom = value;
    },
  },
  methods: {
    fillSelected(value) {
      if (this.selectedRoom.includes(value)) {
        this.selectedRoom.splice(this.selectedRoom.indexOf(value), 1);
      } else {
        this.selectedRoom.push(value);
      }
    },
    resetData() {
      this.selectedRoom = [];
      document
        .querySelectorAll(".roomSelection .room-list .selectedRoom input")
        .forEach((item) => {
          item.checked = false;
        });
      this.$store.state.forwardMessage = {};
    },
    forwardMessage() {
      this.selectedRoom.forEach(async (itemId, idx) => {
        let payload = {
          uniqueRoomId: itemId,
          comment: this.$store.state.forwardMessage.message,
          type: this.$store.state.forwardMessage.type,
          payload: this.$store.state.forwardMessage.payload,
          extras: {
            ...this.$store.state.forwardMessage.extras,
            is_forwarded: true,
          },
        };
        const sentMessage = {
          ...(await this.$chataja.sendMessage(payload)),
        };
        this.$store.commit("ADD_SENT_MESSAGE", sentMessage);

        if (idx === this.selectedRoom.length - 1) {
          this.adjustShowModal(false);
          this.resetData();
        }
      });
    },
  },
};
</script>
<style>
.modal {
  flex: 0;
  display: flex;
  flex-direction: column;
  width: 400px;
  align-self: center;
  max-height: 80%;
}
.modal-header {
  border-radius: 8px 8px 0px 0px;
  background: #3088c8;
  padding: 5px 20px;
}
.modal-header h3 {
  font-size: 20px;
  font-weight: 600;
  color: #fff;
  text-transform: capitalize;
  margin: 8px 0px;
}
.modal-content {
  padding: 20px;
  background: #fff;
  overflow-y: auto;
  max-height: 80%;
}
.modal-footer {
  border-radius: 0px 0px 8px 8px;
  background: #fff;
  padding: 8px 20px;
  text-align: right;
  border-top: 1px solid #3088c8;
}
.modal-footer button {
  border-radius: 5px;
  padding: 10px;
  font-size: 16px;
  color: #fff;
  background: #3088c8;
  border: 0px;
  padding: 8px;
  margin-left: 16px;
}
.room-list ul::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #f5f5f5;
}

.room-list ul::-webkit-scrollbar {
  width: 10px;
  background-color: #f5f5f5;
}

.room-list ul::-webkit-scrollbar-thumb {
  background-color: #0ae;
  background-image: -webkit-gradient(
    linear,
    0 0,
    0 100%,
    color-stop(0.5, rgba(255, 255, 255, 0.2)),
    color-stop(0.5, transparent),
    to(transparent)
  );
}
.room-list {
  cursor: pointer;
  margin-bottom: 10px;
}
.room-list:hover {
  background-color: #808080;
  color: white;
}
ul {
  list-style-type: none;
  margin: unset;
  padding-left: 0;
}

.room-list ul {
  padding: 20px;
  height: 100%;
}
.room-list ul:hover {
  overflow: auto;
}

.room-list .flex {
  display: flex;
  flex-direction: row;
}

.room-list .about {
  padding-left: 20px;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  display: flex;
  min-width: 0;
}
.room-list .about .name {
  font-size: 16px;
  text-transform: capitalize;
  font-weight: 600;
}
.flexLastmessage {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: space-between;
}
.room-list .about .flexLastmessage p {
  margin: 0 10px 0 0;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  flex: 1;
  min-width: 0;
}

.room-list .status {
  color: antiquewhite;
}
.selectedRoom {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
</style>