<template>
	<div class="modal-shadow">
		<div class="modal-container">
			<ForwardContent v-if="action === 'forward'" :adjustShowModal="adjustShowModal"></ForwardContent>
			<CreateGroupContent v-else-if="action === 'create_group'" :adjustShowModal="adjustShowModal"></CreateGroupContent>
			<AddParticipantContent v-else-if="action === 'add_participant'" :adjustShowModal="adjustShowModal"></AddParticipantContent>
		</div>
	</div>
</template>
<script>
import ForwardContent from './ForwardContent'
import CreateGroupContent from './CreateGroupContent'
import AddParticipantContent from './AddParticipantContent'
export default{
	name: "ModalContainer",
	components: {
		ForwardContent,
		CreateGroupContent,
		AddParticipantContent
	},
	props: ['adjustShowModal', 'action']
}
</script>
<style>
.modal-shadow {
	background: rgba(0,0,0,0.7);
	width: 100%;
	height: 100%;
	position: absolute;
	z-index: 1;
}
.modal-container {
	display: flex;
	justify-content: center;
	padding:  20px;
	height:  100%;
	flex-direction: column;
}
</style>