<template>
  <li
    class="participant"
    @mouseover="showDropdown = true"
    @mouseleave="isOpenActions ? toggleActions(false) : (showDropdown = false)"
  >
    <div class="participant-avatar">
      <img
        :alt="user.fullname || user.phone_number + '\'s Avatar'"
        :src="user.avatar_url"
        v-if="user.avatar_url"
      />
      <i class="fa fa-user avatar" aria-hidden="true" v-else></i>
    </div>
    <div class="participant-body">
      <span class="admin" v-if="isAdmin">Admin</span>
      <span>{{ isMe ? "You" : user.fullname || user.phone_number || "" }}</span>
      <button
        :id="user.qiscus_email"
        class="participant-dropdown"
        @click="toggleActions(!isOpenActions)"
        v-if="showDropdown && iAmAdmin && !isMe"
      >
        <i class="fa fa-chevron-down" aria-hidden="true"></i>
      </button>
      <ul class="participant-actions" v-if="isOpenActions">
        <li class="action">
          <button @click="isAdmin ? removeAdmin() : makeAdmin()">
            {{ isAdmin ? "Remove Admin" : "Make Admin" }}
          </button>
        </li>
        <li class="action">
          <button @click="removeParticipant">Remove Participant</button>
        </li>
      </ul>
    </div>
  </li>
</template>
<script>
export default {
  name: "RoomParticipant",
  props: {
    user: {
      type: Object,
      required: true,
    },
    room: {
      type: Object,
      required: true,
    },
  },
  data() {
    return {
      isOpenActions: false,
      showDropdown: false,
    };
  },
  methods: {
    toggleActions(value) {
      this.isOpenActions = value;
    },
    async makeAdmin() {
      try {
        await this.$chataja.setAdmin({
          uniqueRoomId: this.room.uniqueRoomId,
          phoneTarget: this.user.phone_number,
        });
        this.room.admins.push(this.user);
      } catch (err) {
        console.error(err);
      }
    },
    async removeParticipant() {
      try {
        await this.$chataja.removeParticipant({
          phoneTarget: this.user.phone_number,
          uniqueRoomId: this.room.uniqueRoomId,
        });
        this.room.users = this.room.users.filter(
          (a) => a.phone_number !== this.user.phone_number
        );
        this.room.admins = this.room.admins.filter(
          (a) => a.phone_number !== this.user.phone_number
        );
      } catch (err) {
        console.error(err);
      }
    },
    async removeAdmin() {
      try {
        await this.$chataja.removeAdmin({
          uniqueRoomId: this.room.uniqueRoomId,
          phoneTarget: this.user.phone_number,
        });
        this.room.admins = this.room.admins.filter(
          (a) => a.phone_number !== this.user.phone_number
        );
      } catch (err) {
        console.error(err);
      }
    },
  },
  computed: {
    listOfAdmin() {
      return this.room.admins.map((a) => a.phone_number);
    },
    isAdmin() {
      return this.listOfAdmin.includes(this.user.phone_number);
    },
    iAmAdmin() {
      return this.listOfAdmin.includes(this.getConfig.user.phoneNumber);
    },
    getConfig() {
      return JSON.parse(window.localStorage.getItem("chataja-config"));
    },
    isMe() {
      return this.getConfig.user.phoneNumber === this.user.phone_number;
    },
  },
};
</script>
<style lang="scss">
li.participant {
  position: relative;
  display: flex;
  align-items: center;
  font-size: 16px;
  height: 80px;
  padding: 0 36px;

  &:hover {
    background-color: rgba(#000000, 0.5);
  }

  .participant-avatar {
    height: 48px;
    width: 48px;
    overflow: hidden;
    img {
      max-height: 100%;
      width: 100%;
      // min-height: 64px;
      // min-width: 64px;
      background-color: rgba(#000000, 0.5);
    }

    i {
      border-radius: 50%;
      background-color: #94c2ed;
      height: 100%;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 18px;
    }

    .avatar {
      border-radius: 0;
      background-color: #d0d0d0;
    }
  }

  .participant-body {
    padding-left: 16px;
  }

  .admin {
    // background-color: greenyellow;
    // color: #3088c8;
    color: greenyellow;
    border: 1px solid greenyellow;
    font-size: 12px;
    font-weight: bolder;
    padding: 0 8px;
    margin-right: 16px;
  }
}

.participant-dropdown {
  background-color: transparent;
  position: absolute;
  right: 0;
  margin-right: 32px;
  outline: none;
  border: none;
  color: #ffffff;
  &:hover {
    cursor: pointer;
  }
}

.participant-actions {
  position: absolute;
  bottom: -44px;
  right: 32px;
  background-color: #3088c8;
  box-shadow: 0 2px 5px 0 rgba(#000000, 0.26), 0 2px 10px 0 rgba(#000000, 0.16);
  z-index: 3;

  & li {
    &:hover {
      background-color: rgba(#000000, 0.5);
      cursor: pointer;
    }

    & button {
      padding: 8px 8px;
      font-family: inherit;
      color: #ffffff;
      background-color: transparent;
      border: none;
      outline: none;
      &:hover {
        cursor: pointer;
      }
    }
  }
}
</style>