<template>
  <div class="room-info">
    <div class="room-info__title">
      <span @click="closeRoomInfo">✕</span>
      Room Info
    </div>
    <div class="room-info__content">
      <div class="room-data">
        <div class="room-avatar">
          <button
            class="hover-avatar-edit"
            v-show="isHoverRoomAvatar && iAmAdmin"
            @mouseover="isHoverRoomAvatar = true"
            @mouseout="isHoverRoomAvatar = false"
            @click="iAmAdmin ? changeRoomAvatar() : null"
          >
            <i class="fas fa-edit"></i>
            Change Room Avatar
            <input
              type="file"
              id="room-avatar-input"
              style="display: none"
              @change="roomAvatarChangeHandler"
            />
          </button>
          <div
            @mouseover="isHoverRoomAvatar = true"
            @mouseout="isHoverRoomAvatar = false"
          >
            <img
              alt="altRoomAvatar"
              :src="room.chat_avatar_url"
              v-if="room.chat_avatar_url"
            />
            <i class="fa fa-user avatar" aria-hidden="true" v-else></i>
          </div>
        </div>
        <div class="room-name">
          <span
            id="name-container"
            @input="roomNameInputHandler"
            @keydown="roomNameKeydownHandler"
          >
            {{ this.room.chat_name }}
          </span>
          <button v-if="iAmAdmin">
            <i
              :class="!isEditRoomName ? 'fas fa-edit' : 'fa fa-check'"
              @click="toggleEditRoomName(!isEditRoomName)"
            ></i>
            <!-- <i
              class="fa fa-check"
              aria-hidden="true"
              @click="toggleEditRoomName(false)"
              v-else
            ></i> -->
          </button>
        </div>
      </div>
      <div class="room-description">
        <div class="description__title">
          <span> Description </span>
          <button v-if="iAmAdmin">
            <i
              :class="!isEditRoomDescription ? 'fas fa-edit' : 'fa fa-check'"
              @click="toggleEditRoomDescription(!isEditRoomDescription)"
            ></i>
          </button>
        </div>
        <div
          class="description__content"
          id="description-container"
          @input="roomDescriptionInputHandler"
          @keydown="roomDescriptionKeydownHandler"
        >
          {{ this.room.chat_description || noRoomDescriptionText }}
        </div>
      </div>
      <div class="room-participants">
        <div class="participants-title">Participants</div>
        <ul class="participants-list" v-if="isGroup">
          <li class="participant" v-if="iAmAdmin" @click="addParticipant">
            <div class="participant-avatar">
              <i class="fa fa-user-plus" aria-hidden="true"></i>
            </div>
            <div class="participant-body">
              <span>Add participant</span>
            </div>
          </li>
          <RoomParticipant
            v-for="participant in listParticipants"
            :key="participant.id"
            :user="participant"
            :room="room"
          ></RoomParticipant>
        </ul>
      </div>
      <div class="room-action">
        <button @click="leaveGroup">
          <i class="fa fa-sign-out" aria-hidden="true"></i>
          <span> Leave Group </span>
        </button>
      </div>
    </div>
  </div>
</template>
<script>
import RoomParticipant from "./RoomParticipant.vue";
import { mapGetters } from 'vuex';
export default {
  name: "RoomInfo",
  components: { RoomParticipant },
  props: {
    room: {
      type: Object,
    },
  },
  mounted() {},
  data() {
    return {
      isHoverRoomAvatar: false,
      isEditRoomName: false,
      roomName: this.room.chat_name,
      newRoomName: "",
      roomDescription: this.room.chat_description,
      newRoomDescription: "",
      isEditRoomDescription: false,
      noRoomDescriptionText: "Add room description",
    };
  },
  methods: {
    closeRoomInfo() {
      this.$emit("closeRoomInfo");
    },
    async toggleEditRoomName(value) {
      const el = document.querySelector("#name-container");
      if (!value) {
        if (this.roomName !== this.newRoomName) {
          if (this.newRoomName) {
            try {
              await this.$chataja.updateGroupInfo({
                uniqueRoomId: this.room.uniqueRoomId,
                newName: this.newRoomName,
              });
              this.room.chat_name = this.newRoomName;
              this.roomName = this.room.chat_name;
            } catch (err) {
              console.error(err);
            }
          }
        }
        el.removeAttribute("contenteditable");
      } else {
        el.setAttribute("contenteditable", true);
        this.newRoomName = "";
      }
      this.isEditRoomName = value;
    },
    roomNameInputHandler(e) {
      this.newRoomName = e.target.innerText;
    },
    roomNameKeydownHandler(e) {
      if (this.isEditRoomName) {
        switch (e.key) {
          case "Enter":
            e.preventDefault();
            this.toggleEditRoomName(false);
            break;
          case "Escape":
            const el = document.querySelector("#name-container");
            this.newRoomName = this.roomName;
            el.innerText = this.roomName;
            this.toggleEditRoomName(false);
            break;
        }
      }
    },
    async toggleEditRoomDescription(value) {
      const el = document.querySelector("#description-container");
      if (!value) {
        if (this.roomDescription !== this.newRoomDescription) {
          if (this.newRoomDescription) {
            try {
              await this.$chataja.updateGroupInfo({
                uniqueRoomId: this.room.uniqueRoomId,
                newDescription: this.newRoomDescription,
              });
              this.room.chat_description = this.newRoomDescription;
              this.roomDescription = this.room.chat_description;
            } catch (err) {
              console.error(err);
            }
          }
        }
        el.removeAttribute("contenteditable");
        if (!this.roomDescription) {
          el.innerText = this.noRoomDescriptionText;
        }
      } else {
        if (!this.roomDescription) {
          el.innerText = "";
        }
        el.setAttribute("contenteditable", true);
        this.newRoomDescription = "";
      }
      this.isEditRoomDescription = value;
    },
    roomDescriptionInputHandler(e) {
      this.newRoomDescription = e.target.innerText;
    },
    roomDescriptionKeydownHandler(e) {
      if (this.isEditRoomName) {
        switch (e.key) {
          // case "Enter":
          //   e.preventDefault();
          //   this.toggleEditRoomName(false);
          //   break;
          case "Escape":
            const el = document.querySelector("#name-container");
            this.newRoomName = this.roomName;
            el.innerText = this.roomName;
            this.toggleEditRoomName(false);
            break;
        }
      }
    },
    changeRoomAvatar() {
      document.querySelector("#room-avatar-input").click();
    },
    async roomAvatarChangeHandler(e) {
      try {
        const response = await this.$chataja.updateGroupAvatar({
          uniqueRoomId: this.room.uniqueRoomId,
          newAvatar: e.target.files[0],
        });
        this.room.chat_avatar_url = response.data.payload.chat_avatar_url;
      } catch (err) {
        console.error(err);
      }
    },
    addParticipant() {
      this.$emit("openModal");
    },
    async leaveGroup() {
      try {
        await this.$chataja.leaveGroup({
          uniqueRoomId: this.room.uniqueRoomId,
        });
        this.$emit("updateLeftRoom", {
          room_id: this.room.uniqueRoomId,
          payload: {
            object_email: this.getUserData.user.email,
          },
        });
      } catch (err) {
        console.error(err);
      }
    },
  },
  computed: {
    isGroup() {
      return this.room.is_group_chat || false;
    },
    listOfAdmin() {
      return this.room.admins.map((a) => a.phone_number);
    },
    iAmAdmin() {
      return this.listOfAdmin.includes(this.getConfig.user.phoneNumber);
    },
    getConfig() {
      return JSON.parse(window.localStorage.getItem("chataja-config"));
    },
    getUserData() {
      return JSON.parse(window.localStorage.getItem("userData"));
    },
    ...mapGetters({
      listParticipants: 'getActiveParticipant'
    }),
    isLeft() {
      return this.room.users.some(
        (u) => u.phone_number === this.getConfig.user.phoneNumber
      );
    },
  },
};
</script>
<style lang="scss">
.room-info {
  width: 30vw;
  height: 100vh;
  min-width: 300px;
}

.room-info__title {
  height: 100px;
  background-color: #f2f5f8;
  border-left: 1px solid #ffffff;
  border-bottom: 1px solid #ffffff;
  display: flex;
  align-items: center;
  font-size: 16px;
  font-weight: bolder;
  padding-left: 24px;

  span {
    font-size: 18px;
    margin-right: 24px;
    &:hover {
      cursor: pointer;
    }
  }

  &:hover {
    cursor: default;
  }
}

.room-info__content {
  display: flex;
  flex-direction: column;
  gap: 10px;
  min-width: 415px;
  overflow: auto;
  height: calc(100% - 100px);
  background-color: rgba(#000000, 0.4);
  color: #ffffff;

  & > div {
    // background-color: #ffffff;
    background-color: #3088c8;
  }
}

.room-data {
  min-height: 270px;
  position: relative;
}

.room-avatar {
  height: calc(270px - 48px);
  max-width: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;

  & > * {
    background-color: #d0d0d0;
    height: 150px;
    width: 150px;

    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 64px;
  }

  div {
    height: 150px;
    width: 150px;
    overflow: hidden;
  }
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.room-name {
  bottom: 0;
  padding: 0 16px 16px 32px;
  width: 100%;
  height: 48px;
  display: flex;
  justify-content: space-between;

  span {
    font-weight: bolder;
    font-size: 18px;
  }

  button {
    height: 48px;
    width: 48px;
    margin: -16px 0;
    background-color: transparent;
    border: none;
    color: #ffffff;

    & i:hover {
      cursor: pointer;
    }
  }
}

.room-description {
  height: 200px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 12px 36px;

  .description__title {
    font-size: 14px;
    font-weight: bolder;
    display: flex;
    justify-content: space-between;

    button {
      font-weight: normal;
      height: 48px;
      width: 48px;
      margin: -16px -18px;
      background-color: transparent;
      border: none;
      color: #ffffff;

      & i:hover {
        cursor: pointer;
      }
    }
  }

  .description__content {
    font-size: 16px;
    line-height: 1.5em;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3; /* number of lines to show */
    -webkit-box-orient: vertical;
  }
}

.room-participants {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding-top: 12px;

  .participants-title {
    font-size: 14px;
    font-weight: bolder;
    padding: 0 36px;
  }

  ul {
    padding: 0;
  }
}

.room-action {
  button {
    // background-color: red;
    background-color: transparent;
    height: 80px;
    width: 100%;
    border: none;
    display: flex;
    align-items: center;
    text-align: start;
    padding-left: 36px;
    font-family: inherit;
    font-size: 16px;
    font-weight: bolder;
    color: salmon;
    i {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 48px;
      height: 48px;
      margin-right: 16px;
    }
    &:hover {
      background-color: rgba(#000000, 0.5);
      cursor: pointer;
    }
  }
}

.hover-avatar-edit {
  position: absolute;
  height: 150px;
  width: 150px;
  background-color: rgba(#000000, 0.45);
  font-size: 14px;
  border: none;
  display: flex;
  flex-direction: column;
  gap: 10px;
  color: #ffffff;
  cursor: pointer;
}

#name-container {
  width: 84%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  &[contenteditable] {
    outline: 0px solid transparent;
    border-bottom: 1px solid #ffffff;
  }
}

#description-container[contenteditable] {
  outline: 0px solid transparent;
  border-bottom: 1px solid #ffffff;
}
</style>